html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $purple;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.content-col {
  @include atMedium {
    display: block !important;
  }

  @include atLarge {
    display: unset;
  }
}
