html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $purple;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.content-col {
  @include atMedium {
    display: block !important;
  }

  @include atLarge {
    display: unset;
  }
}

.toast-success{
  background-color: $purple; 
  max-width: max-content;
  padding: 15px;
  color: $white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid black;
}

.toast-failed{
  background-color: $red; 
  max-width: max-content;
  padding: 15px;
  color: $white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid black;
}