$purple: #082b55;
$green: #46b7a2;
$blue: #2a75d1;
$darkBlue: #0e386b;
$lightBlue: #f6f6f6;
$white: #ffffff;
$black: #000000;
$darkGray: #acacac;
$red: #ff0000;
$lightGray: #aba7a7;
$darkGreen: #464646;
$lightBlack: #020202;
$darkWhite: #f5f5f5;
$lightWhite: #f7f7f7;
$silver: #c4c4c4;

$twitter: #1da1f2;
$linkedin: #0077b5;
$youtube: #ff0000;
$instagram: #c13584;
