$purple: #082b55;
$green: #46b7a2;
$blue: #2a75d1;
$darkBlue: #0e386b;
$lightBlue: #e5e5e5;
$white: #ffffff;
$black: #000000;
$darkGray: #acacac;
$red: #ff0000;
$lightGray: #aba7a7;
$darkGreen: #464646;
