.about-us {
  padding: 30px 0;
  background-color: $lightBlue;

  @include atSmall {
    padding: 40px 0;
  }

  @include atLarge {
    padding: 80px 0;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    color: $darkBlue;
    margin-bottom: 15px;

    @include atSmall {
      font-size: 22px;
      text-align: center;
    }

    @include atMedium {
      font-size: 1.875rem;
      margin-bottom: 1.875rem;
    }
  }

  p {
    font-size: 1rem;
    color: #464646;
    font-weight: 400;
    margin: auto;
    margin-bottom: 20px;

    @include atSmall {
      text-align: center;
    }

    @include atLarge {
      font-size: 1.375rem;
      max-width: 80%;
      margin-bottom: 5rem;
    }
  }

  .vision {
    @include atLarge {
      margin-bottom: 4.375rem;
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      color: $darkBlue;
      margin-bottom: 0.625rem;

      @include atSmall {
        font-size: 22px;
        text-align: center;
      }

      @include atMedium {
        font-size: 1.875rem;
      }

      @include atLarge {
        text-align: unset;
      }
    }

    p {
      max-width: unset;

      @include atLarge {
        text-align: unset;
      }
    }

    .list-item {
      font-size: 1rem;
      color: #464646;
      font-weight: 400;
      margin-bottom: 20px;
      font-family: "Inter", Helvetica, sans-serif;

      @include atLarge {
        font-size: 1.375rem;
      }
    }
  }

  &__apex {
    margin-top: 15px;

    @include atLarge {
      margin-top: 6.25rem;
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;

      @include atSmall {
        font-size: 22px;
        text-align: center;
      }

      @include atLarge {
        font-size: 1.875rem;
        padding-left: 3.75rem;
        text-align: unset;
        margin-bottom: 3.125rem;
      }
    }
  }
}
