.apply-developer {
  overflow-x: hidden;

  .col-same-height {
    @include atLarge {
      flex: 1;
    }
  }

  &__form {
    padding: 30px 12px;

    @include atLarge {
      padding: 50px 30px;
    }

    @include atExtraLarge {
      padding: 5.625rem 2.5rem 2.5rem 5.625rem;
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;

      @include atSmall {
        text-align: center;
        font-size: 22px;
        margin-bottom: 40px;
      }

      @include atLarge {
        font-size: 1.875rem;
        margin-bottom: 3.75rem;
      }
    }

    .resume {
      .upload-input {
        display: none;
      }

      .resume-title {
        font-size: 1rem;
        font-weight: 400;
        color: $darkGreen;
        margin-bottom: 0.625rem;
      }

      .upload-btn-title {
        font-size: 0.875rem;
        color: $darkGreen;
        margin-bottom: 0.3125rem;
      }

      .upload-cv-btn {
        color: $blue;
        font-weight: 700;
        padding: 0.5rem 1.875rem;
        border: 0.125rem solid $blue;
        border-radius: 0.1875rem;
      }

      .file-format-text {
        font-size: 0.75rem;
        color: $darkGreen;
        font-weight: 400;
      }
    }

    .data-privacy-link {
      color: $darkBlue;
      text-decoration: none;
    }
  }

  &__details {
    height: 100%;
    background-color: $lightBlue;
    padding: 30px 12px;

    @include atLarge {
      padding: 100px 30px 50px 30px;
    }

    @include atExtraLarge {
      padding: 10rem 2.5rem 2.5rem 3.75rem;
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 20px;

      @include atSmall {
        font-size: 22px;
        margin-bottom: 3.125rem;
        text-align: center;
      }

      @include atLarge {
        font-size: 1.875rem;
        text-align: unset;
      }
    }

    .description {
      @include atLarge {
        padding-left: 2.5rem;
      }
    }

    .des-list {
      list-style: none;
      padding-left: 0;

      @include atSmall {
        padding-left: revert;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
      }

      @include atLarge {
        position: unset;
        left: unset;
        transform: unset;
      }

      .list-line {
        text-align: left;
      }
    }

    p,
    .list-line {
      font-size: 1rem;
      font-weight: 400;
      color: $darkGreen;

      @include atSmall {
        text-align: center;
      }

      @include atLarge {
        font-size: 1.25rem;
        text-align: unset;
      }
    }
  }
}
