.business-design {
  &:not(:last-child) {
    margin-bottom: 20px;

    @include atLarge {
      margin-bottom: unset;
    }
  }

  @include atSmall {
    padding-top: 1.875rem;
  }
  .list {
    padding-left: 0;
    list-style: none;
    text-align: center;

    @include atSmall {
      display: flex;
      text-align: unset;
    }
  }

  .left-list-item {
    margin-right: 0.938rem;
  }

  &__icon {
    max-width: 90px;
    width: auto;
    margin-bottom: 15px;

    @include atSmall {
      margin-bottom: unset;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
    color: $darkGreen;
  }
}
