.button {
  background-color: $green;
  padding: 0.5rem 0.625rem;
  color: $white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 0.8125rem;
  border-radius: 0.1875rem;
  width: 100%;
  line-height: normal;
  text-align: center;
  border: 0.125rem solid $green;

  @include atSmall {
    padding: 0.75rem 0.625rem;
    width: 13.6875rem !important;
    font-size: 1rem;
    height: 2.875rem;
  }

  &:hover {
    color: $white;
  }

  &--blue {
    background-color: $blue;
    width: 100%;
    border: 0.125rem solid $blue;

    @include atSmall {
      width: 12.4375rem;
    }
  }

  &--no-background {
    background-color: unset;
    border: 0.125rem solid $blue;
    color: $blue;
    font-weight: 700;
    width: 100%;

    @include atSmall {
      width: 12.4375rem !important;
    }

    @include atMedium {
      width: 9.25rem;
    }

    &:hover {
      color: $blue;
    }
  }

  &--header {
    width: 11.688rem !important;
  }

  &--submit {
    border: none;
    width: 50%;

    @include atSmall {
      width: 10.6875rem;
    }
  }
}
