.form-block {
  .form-label {
    color: $black;
    font-size: 1rem;
    font-weight: 400;

    &--dark-green {
      color: $darkGreen;
    }
  }

  .asterisk {
    color: $red;
  }

  .input-field {
    border: 1px solid $lightGray;
    border-radius: 0.5rem;
    height: 2.848rem;

    &:focus {
      box-shadow: none;
    }
  }

  textarea {
    height: 6.063rem;
    border: 1px solid $lightGray;
    border-radius: 0.5rem;

    &:focus {
      box-shadow: none;
    }
  }

  .capture {
    border: 1px solid $lightGray;
    height: 77px;
  }

  .form-submit-btn {
    margin: auto;
    display: block;

    @include atLarge {
      margin-top: 1.25rem;
    }

    &--align-left {
      margin-left: 0;
    }
  }

  .selector-field {
    border: 1px solid $lightGray;
    border-radius: 0.5rem;

    @include atLarge {
      height: 2.848rem;
    }

    &:focus {
      box-shadow: none;
    }

    &--dark-green {
      color: $darkGreen;
    }

    &--bold {
      font-weight: bold;
    }
  }
}
