.impact-enterprise {
  background-color: $lightBlue;
  padding: 2.5rem 0;

  @include atLarge {
    padding: 5.625rem 0;
  }

  &__together {
    padding: 40px 0;

    @include atExtraLarge {
      padding: 6.875rem 0;
    }

    .partners {
      .partner-logos {
        max-width: 70%;
        margin: auto;
        display: block;

        @include atLarge {
          max-width: 85%;
          margin: unset;
          display: unset;
        }
      }
    }

    .content {
      position: relative;
      top: 1.875rem;

      .tag {
        font-size: 0.9375rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0.438rem;

        @include atSmall {
          font-size: 18px;
          text-align: center;
        }

        @include atLarge {
          text-align: left;
        }
      }

      .title {
        font-size: 1.25rem;
        font-weight: 700;

        @include atSmall {
          text-align: center;
        }

        @include atMedium {
          font-size: 2.75rem;
        }

        @include atLarge {
          text-align: left;
        }
      }
    }
  }

  .get-quote {
    margin-top: 40px;
    width: 50%;

    @include atSmall {
      margin: auto;
      display: block;
      margin-top: 40px;
      width: unset;
    }

    @include atLarge {
      margin-top: 6.25rem;
    }
  }

  &__services {
    display: grid;
    grid-template-columns: 1fr;

    @include atMedium {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
    }

    .service-block {
      &:not(:last-child) {
        margin-bottom: 40px;

        @include atMedium {
          margin-bottom: unset;
        }
      }
    }
  }

  .leaf__left-img {
    top: 400%;
    max-width: 7%;

    @include atDoubleExtraLarge {
      max-width: 5%;
      top: 450%;
    }

    @include atCustomSize {
      max-width: 10%;
      top: 313%;
    }
  }

  .leaf__right-img {
    transform: rotate(180deg);
    top: 322%;
    max-width: 8%;

    @include atDoubleExtraLarge {
      max-width: 5%;
      top: 370%;
    }

    @include atCustomSize {
      max-width: 10%;
      top: 235%;
    }
  }
}
