.kpi-detail-tabs {
  position: relative;
  top: -2.875rem;

  @include atSmall {
    padding: unset;
  }

  &__menu {
    .nav-link {
      font-size: 0.8125rem;
      font-weight: 700;
      width: 100%;
      color: $darkBlue;
      padding: 0.5rem 0.5rem;
      height: 2.875rem;

      @include atSmall {
        width: 6.25rem;
        height: 2.875rem;
        padding: 0.5rem 1rem;
      }

      &:hover {
        border: unset;
      }

      &.active {
        border: none;
        border-bottom: 1px solid $lightBlue;
        border-top: 2px solid $blue;
      }
    }

    .nav-tabs {
      @include atSmall {
        display: inline-flex;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__content {
    background-image: url("/app/assets/images/kpi-solution-bg.png");
  }
}
