.leaf {
  display: none;

  @include atExtraLarge {
    display: block;
  }

  &__left-img {
    max-width: 12%;
    position: absolute;

    &--why-bupe-left-2nd {
      top: 492%;
      max-width: 7%;
    }
  }

  &__right-img {
    max-width: 12%;
    position: absolute;
    right: 0;
  }
}
