.management-crew {
  margin-bottom: 1.5625rem;

  &--no-mb {
    margin-bottom: unset;
  }

  &__card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    background: $darkWhite;
    padding-top: 1.875rem;
  }

  &__title {
    color: $purple;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__subtitle {
    color: $purple;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__read-bio {
    font-size: 1rem;
    text-decoration: none;
    color: $blue;
  }
}
