.management-strategy {
  padding-bottom: 0;

  @include atLarge {
    padding: 1.875rem 0;
  }

  &--no-pb {
    padding-bottom: unset;
  }

  &__details {
    padding-top: 0.9375rem;

    @include atLarge {
      padding-top: 2.5rem;
    }

    &--no-pt {
      @include atLarge {
        padding-top: unset;
      }
    }

    .title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 1.25rem;

      @include atSmall {
        font-size: 1.375rem;
        text-align: center;
      }

      @include atMedium {
        font-size: 1.875rem;
      }

      @include atLarge {
        text-align: left;
        margin-bottom: 2.5rem;
      }
    }

    .subtitle {
      font-size: 1.125rem;
      font-weight: 700;

      @include atSmall {
        font-size: 1.25rem;
        text-align: center;
      }

      @include atMedium {
        font-size: 1.375rem;
      }

      @include atLarge {
        text-align: left;
      }
    }

    p {
      font-size: 1rem;
      color: $darkGreen;

      @include atSmall {
        text-align: center;
      }

      @include atLarge {
        font-size: 1.125rem;
        text-align: left;
      }
    }

    .business-indicators {
      &--mb {
        margin-bottom: 1.875rem;
      }
    }
  }
}
