.partner-block {
  border-bottom: 0.125rem solid $darkGray;
  padding-top: 1.875rem;

  .main-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    @include atMedium {
      display: flex;
    }
  }

  .sub-list {
    list-style: none;
    padding-left: 0;

    @include atMedium {
      padding-left: 2.5rem;
    }
  }

  &__count {
    font-size: 1.5625rem;
    text-align: center;
    font-weight: 700;
    color: $blue;

    @include atSmall {
      font-size: 2.5rem;
    }

    @include atMedium {
      font-size: 50px;
      width: 13.125rem;
      text-align: left;
    }

    @include atLarge {
      font-size: 4rem;
    }
  }

  &__logo {
    margin-bottom: 1.25rem;

    img {
      max-width: 20%;
      margin: auto;
      display: block;

      @include atMedium {
        max-width: 15%;
        margin: unset;
        display: unset;
      }

      @include atLarge {
        max-width: 20%;
      }
    }
  }

  &__content {
    p {
      font-size: 1rem;
      text-align: center;
      font-weight: 600;

      @include atMedium {
        font-size: 1.25rem;
        text-align: left;
      }
    }
  }
}
