.pricing {
  padding: 4.375rem 0;
  background: linear-gradient(109.98deg, rgba(248, 248, 248, 0.4) 8.99%, rgba(223, 223, 223, 0.4) 51.88%, rgba(239, 239, 239, 0.4) 94.78%);
  opacity: 0.9;

  .title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  .description {
    font-size: 1.375rem;
    color: $darkGreen;
    padding-left: 2.5rem;
  }

  .pricing-cal {
    max-width: 720px;
    background-color: $darkWhite;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2.5rem 3.125rem;
    margin-top: 3.75rem;
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 3.75rem;
    }

    .save-percentage {
      font-size: 0.875rem;
      color: $darkGreen;
      margin-top: 0.625rem;
      display: inline-block;
      padding-left: 0.313rem;
    }

    .total-cost {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      margin-top: 1.875rem;
      margin-bottom: 1.25rem;
    }

    .amount {
      font-size: 1.75rem;
      font-weight: bold;
      text-align: center;
    }

    .month {
      font-size: 1rem;
    }
  }
}

.contact-info {
  padding: 30px 0;
  background-color: $lightWhite;

  @include atMedium {
    padding: 40px 0;
  }

  @include atLarge {
    padding: 4.375rem 0;
  }

  .main-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;

    @include atSmall {
      font-size: 22px;
    }

    @include atMedium {
      font-size: 1.875rem;
    }
  }

  .region-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;

    @include atSmall {
      font-size: 22px;
    }

    @include atLarge {
      font-size: 1.5rem;
      margin-bottom: 3.125rem;
    }
  }

  .address {
    font-size: 1rem;
    color: $darkGreen;

    @include atMedium {
      font-size: 1.25rem;
    }
  }

  .tel-nbr {
    font-size: 1rem;
    color: $darkGreen;
    text-decoration: none;

    @include atMedium {
      font-size: 1.25rem;
    }
  }

  .asian {
    &:not(:last-child) {
      margin-bottom: 30px;

      @include atMedium {
        margin-bottom: 50px;
      }
    }
  }

  .country-name {
    margin-bottom: 20px;
    font-size: 1rem;

    @include atSmall {
      margin-bottom: 30px;
    }

    @include atLarge {
      font-size: 20px;
    }
  }

  .country {
    margin-bottom: 20px;

    &--no-mb {
      margin-bottom: unset;
    }

    @include atLarge {
      padding-left: 2.5rem;
    }

    &--align-right {
      @include atMedium {
        float: right;
      }
    }
  }
}
