.product {
  padding: 30px 0;
  background-color: $lightBlue;

  @include atLarge {
    padding: 80px 0;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;

    @include atSmall {
      font-size: 22px;
    }

    @include atMedium {
      font-size: 1.875rem;
    }

    @include atLarge {
      margin-bottom: 3.75rem;
      text-align: center;
    }
  }

  &__business-img {
    max-width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 30px;

    @include atLarge {
      max-width: 55%;
      margin-bottom: unset;
    }
  }

  &__tag {
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;

    @include atSmall {
      font-size: 1.125rem;
    }

    @include atLarge {
      text-align: unset;
     
    }
  }

  &__description {
    font-size: 20px;
    font-weight: 700;
    text-align: left;

    @include atSmall {
      font-size: 22px;
    }

    @include atMedium {
      font-size: 1.875rem;
    }

    @include atLarge {
      text-align: unset;
      max-width: 90%;
    }

    &--m-bottom {
      margin-bottom: 2.5rem;
    }
  }

  .bd-watch-demo {
    display: block;
    margin: 2.875rem auto;
  }

  .business-design-block {
    margin-top: 1.875rem;
  }

  &__partners {
    .partner-logos {
      max-width: 85%;
      margin: auto;
      display: block;
      margin-bottom: 20px;

      @include atSmall {
        margin-bottom: 30px;
      }

      @include atLarge {
        margin: unset;
        display: unset;
      }
    }

    .details {
      &:not(:last-child) {
        @include atLarge {
          margin-bottom: 3.125rem;
        }
      }

      .title {
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 0.625rem;

        @include atSmall {
          font-size: 1.375rem;
          text-align: left;
        }

        @include atLarge {
          text-align: left;
        }
      }

      p {
        color: $darkGreen;
        font-size: 1rem;
        text-align: left;

        @include atLarge {
          text-align: unset;
          text-align: left;
        }
      }
    }

    .get-quote {
      margin: auto;
      display: block;

      @include atLarge {
        margin-top: 4.375rem;
      }
    }
  }
}
