.product {
  padding: 80px 0;
  background-color: $lightBlue;

  .title {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.75rem;
  }

  &__business-img {
    max-width: 55%;
    margin: auto;
    display: block;
  }

  &__tag {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__description {
    font-size: 1.875rem;
    font-weight: 700;
    max-width: 90%;

    &--m-bottom {
      margin-bottom: 2.5rem;
    }
  }

  .bd-watch-demo {
    margin: auto;
    display: block;
    margin-top: 1.875rem;
  }

  .business-design-block {
    margin-top: 1.875rem;
  }

  &__partners {
    .partner-logos {
      max-width: 85%;
    }

    .details {
      &:not(:last-child) {
        margin-bottom: 3.125rem;
      }

      .title {
        font-size: 1.375rem;
        font-weight: 700;
        text-align: left;
        margin-bottom: 0.625rem;
      }

      p {
        color: $darkGreen;
        font-size: 1rem;
      }
    }

    .get-quote {
      margin: auto;
      display: block;
      margin-top: 4.375rem;
    }
  }
}
