.service-block {
  &__logo {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  p {
    font-size: 1.063rem;
    color: $black;
    font-weight: 500;
  }

  .visit-more {
    text-decoration: none;
    color: $blue;
    font-size: 1.125rem;
    font-weight: 400;
  }
}
