.service-block {
  &__logo {
    max-width: 20%;
    margin: auto;
    display: block;
    margin-bottom: 0.625rem;

    @include atMedium {
      max-width: 30%;
      margin: unset;
      display: unset;
      margin-bottom: 0.625rem;
    }

    @include atLarge {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    text-align: center;

    @include atSmall {
      font-size: 1.125rem;
    }

    @include atMedium {
      text-align: left;
    }

    @include atLarge {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
    text-align: center;
    color: $black;
    font-weight: 500;

    @include atMedium {
      font-size: 1.063rem;
      text-align: left;
    }
  }

  .visit-more {
    text-decoration: none;
    color: $blue;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    display: table;

    @include atMedium {
      font-size: 1.125rem;
      margin: unset;
      display: unset;
    }
  }

  br {
    display: none;

    @include atMedium {
      display: block;
    }
  }
}
