.service-block {
  &__logo {
    max-width: 10%;
    float: left;
    margin-bottom: 0.625rem;
    margin-right: 10px;

    @include atSmall {
      max-width: 15%;
      margin: auto;
      display: block;
      margin-bottom: 0.625rem;
      float: unset;
    }

    @include atMedium {
      max-width: 30%;
      margin: unset;
      display: unset;
      margin-bottom: 0.625rem;
      width: auto;
    }

    @include atLarge {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.625rem;

    @include atSmall {
      font-size: 1.125rem;
      text-align: center;
    }

    @include atMedium {
      text-align: left;
    }

    @include atLarge {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
    color: $black;
    font-weight: 500;
    display: flex;
    line-height: 20.72px;

    @include atSmall {
      text-align: center;
    }

    @include atMedium {
      font-size: 1.063rem;
      text-align: left;
    }
  }

  .visit-more {
    text-decoration: none;
    color: $blue;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    display: block;
    margin-left: 10%;
    padding-left: 10px;

    @include atSmall {
      margin-left: unset;
      padding-left: unset;
      text-align: center;
    }

    @include atMedium {
      font-size: 1.125rem;
      margin: unset;
      display: unset;
    }
  }

  br {
    display: none;

    @include atMedium {
      display: block;
    }
  }
}
