.site-header {
  padding: 0 0;

  @include atMedium {
    padding: 0.3125rem 0;
  }

  @include atLarge {
    padding: 0.4375rem 0;
  }

  @include atExtraLarge {
    padding: 0.75rem 0;
  }

  &__menubar {
    display: flex;
    width: 100%;

    @include atLarge {
      width: auto;
    }

    .menu-name {
      font-size: 1rem;
      font-family: "Inter", sans-serif;
      padding: 0.3125rem 0;

      &:focus {
        box-shadow: unset;
      }
      @include atLarge {
        font-size: 1rem;
        color: $darkBlue !important;
      }

      @include atExtraLarge {
        color: $darkBlue !important;
        font-size: 1.125rem;
        padding: 0.5rem 1rem;
      }
    }

    li.active .underline {
      @include atLarge {
        border-bottom: 2px solid $blue;
        position: relative;
        top: 1.313rem;
      }
    }

    .logo {
     
      max-width: 18%;

     

      @include atMedium {
        max-width: 12%;
      }

      @include atLarge {
        max-width: 80%;
      }
    }

    .site-logo {
      margin-right: 1.875rem;
      width: 74vw;

      @include atLarge {
        padding-right: 0;
        margin-right: 1.875rem;
        border-right: 1px solid $lightBlack;
        width: unset;
      }

      @include atExtraLarge {
        width: auto;
        padding-right: 0.625rem;
      }
    }

    .menu-list {
      padding: 0 12px;

      @include atLarge {
        padding: unset;
      }

      &:not(:last-child) {
        @include atLarge {
          margin-right: 0.938rem;
        }
      }
    }

    .menu-list-btn {
      padding: unset;
    }

    .modules-submenu {
      background-color: unset;
      padding-left: 0.625rem;
      padding-top: 0;
      padding-bottom: 0;
      background-color: $lightMGray;
      top: 66px;

      h4 {
        color: $blue;

        @include atMedium {
          color: $purple;
        }
      }

      @include atMedium {
        background-color: $white;
      }

      @include atLarge {
        padding-left: unset;
        padding-top: unset;
        padding-bottom: unset;
      }
    }

    .navbar-toggler {
      padding: 0.4375rem 0.9375rem;
      height: max-content;
      line-height: 0;

      &:focus {
        box-shadow: unset;
      }

      .close {
        line-height: 1rem;
      }
    }

    .navbar-toggler-icon {
      width: 1rem;
      height: 1rem;
      font-size: 1.25rem;
    }

    .navbar-toggler > .close {
      display: inline;
    }
    .navbar-toggler.collapsed > .close,
    .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
      display: none;
    }

    .nav-item {
      .dropdown-menu {
        @include atLarge {
          width: 45rem;
          //padding: 1rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }
      }

      .column-m .button {
        float: left;
        width: 50% !important;
        margin: 0rem;
        padding: 1rem 0;
        border-radius: 0rem;

        &--no-background {
          background-color: $white;
        }

        @include atSmall {
          padding: unset;
        }
      }

      &__mobile-only {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-top: 0;
      }

      h6 {
        font-size: 1rem;
        color: $lightGray;
        text-transform: uppercase;
      }

      h4 {
        font-size: 1.31rem;
        font-weight: bold;
        // line-height: 3.5rem;

        @include atSmall {
          line-height: 1rem;
        }
      }

      p {
        cursor: pointer;
      }

      @include atLarge {
        .hline {
          padding-bottom: 0.5rem;
          border-bottom: 1px solid $silver;
        }
        .column-m .button {
          display: none;
        }
      }

      .service-block {
        float: left;
        width: 100%;
        padding-top: 1.2rem;

        &__logo {
          max-width: unset !important;
        }
        h4 {
          line-height: 1em;
          font-size: 1em;
        }
        p {
          font-size: 1em;
          font-weight: normal;
        }
        ul {
          list-style-type: none;
          padding-left: 0px;
          li {
            float: left;
          }
          img {
            width: 80%;
          }
          li.image {
            width: 15%;
          }
          li.text {
            width: 80%;
          }
        }
        @include atSmall {
          &__logo {
            max-width: 100%;
          }
        }
        @include atMedium {
          width: 50%;
        }
      }

      .column .button {
        margin-right: 1.1rem;
        margin-top: 1rem;
        display: none;
      }

      @include atMedium {
        .column .button {
          display: block;
          float: left;
        }
      }
    }

    .navbar-collapse {
      position: fixed;
      width: 100%;
      top: 3.25rem;
      margin-left: -0.75rem;
      padding: 0.3125rem 0rem;
      background-color: $white;
      z-index: 1;
      opacity: 1;
      min-height: 100vh;

      border-bottom-left-radius: 0.3125rem;
      border-bottom-right-radius: 0.3125rem;

      .bottom-border {
        border-bottom: 1px solid $silver;
      }

      .nav-item {
        border-top: 1px solid $silver;
        line-height: 2rem;

        a {
          color: $blue;

          @include atSmall {
            margin: unset;
          }
        }
      }

      .dropdown-toggle::after {
        float: right;
        position: relative;
        top: 0.8rem;
        transition: transform 150ms;
      }

      .dropdown-toggle.show::after {
        transform: rotate(180deg);
        transition: transform 150ms;
      }

      .dropdown-content {
        padding: 1rem;
        overflow: auto;
        max-height: 50vh;
      }

      @include atSmall {
        top: 3.5625rem;
      }

      @include atLarge {
        position: unset;
        width: unset;
        top: unset;
        margin-left: unset;
        padding: unset;
        background-color: unset;
        min-height: unset;

        .nav-item {
          border-top: none;
          border-bottom: none;
        }

        .dropdown-content {
          overflow: unset;
          max-height: unset;
        }
      }
    }
  }

  &__options {
    width: 100%;

    @include atMedium {
      width: unset;
    }
    .search {
      margin-right: 1.25rem;
      svg {
        color: $green;
      }
    }

    .get-quote {
      display: none;
      margin-right: 1.25rem;

      @include atExtraLarge {
        display: inline-block;
      }
    }

    .login {
      font-size: 1rem;
      font-weight: 400;
      color: $darkBlue;
      text-decoration: none;
      position: absolute;
      top: 13px;
      right: 80px;

      @include atLarge {
        float: unset;
        font-size: 1.125rem;
        position: unset;
      }
    }
  }
}
