.terms-service {
  padding: 30px 0;
  background: linear-gradient(109.98deg, rgba(248, 248, 248, 0.4) 8.99%, rgba(223, 223, 223, 0.4) 51.88%, rgba(239, 239, 239, 0.4) 94.78%);
  opacity: 0.9;

  @include atSmall {
    padding: 40px 0;
  }

  @include atLarge {
    padding: 5rem 0;
  }

  &__video {
    cursor: pointer;
  }

  &__article {
    cursor: pointer;
  }

  &--sec-policies-bg-img {
    background-image: url("/app/assets/images/sec-bg-img.jpg");
    background-size: cover;
  }

  &--sec-clt-bg-img {
    background-image: url("/app/assets/images/sec-clt-bg-img.jpg");
    background-size: cover;
  }

  .terms {
    display: grid;
    grid-template-columns: 1fr;

    @include atSmall {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }

    @include atMedium {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include atLarge {
      column-gap: 2.5rem;
    }
  }

  .terms-col {
    margin-bottom: 15px;

    @include atSmall {
      margin-bottom: 20px;
    }

    @include atLarge {
      margin-bottom: 2.5rem;
    }

    &--no-mb {
      @include atLarge {
        margin-bottom: auto;
      }
    }
  }

  .main-title {
    font-size: 20px;
    font-weight: 700;
    color: $darkBlue;
    margin-bottom: 20px;

    @include atSmall {
      font-size: 24px;
    }

    @include atLarge {
      font-size: 1.875rem;
      margin-bottom: 3.125rem;
    }
  }

  .sec-title {
    font-size: 20px;
    font-weight: 700;
    color: $darkBlue;
    margin-bottom: 2.5rem;

    @include atSmall {
      text-align: center;
      font-size: 24px;
    }

    @include atLarge {
      font-size: 1.875rem;
    }
  }
}

.modal {
  .modal-body {
    padding: 10px !important;

    iframe {
      width: 100%;
    }
  }
}
