.watch-demo-action {
  padding: 4.375rem 0;
  background-color: $lightWhite;

  .main-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: $purple;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  &__content {
    .title {
      font-size: 2.25rem;
      font-weight: 700;
      color: $purple;
      margin-top: 4.375rem;
      margin-bottom: 1.875rem;
    }

    p {
      font-size: 1.125rem;
      color: $darkGreen;
    }

    .list-item {
      font-size: 1.125rem;
      color: $darkGreen;
    }
  }

  &__form {
    padding-left: 2.5rem;

    .title {
      font-size: 1.375rem;
      font-weight: 700;
      color: $purple;
      margin-bottom: 2.5rem;
    }

    .privacy-term {
      font-size: 0.75rem;
      color: $darkGreen;
    }

    .data-privacy-link {
      text-decoration: none;
      color: $blue;
    }

    .custom-width {
      max-width: 60%;
    }
  }
}
