.welcome {
  &--m-top {
    margin-top: 1.25rem;

    @include atLarge {
      margin-top: 0;
    }
  }

  &__bg-video {
    position: absolute;
    width: 85%;

    video {
      width: 100%;
      height: auto;
    }

    video {
      width: 100%;
      height: auto;
    }

    @include atSmall {
      width: 90%;
    }

    @include atLarge {
      width: 37%;
    }

    @include atDoubleExtraLarge {
      width: 42%;
    }

    @include atCustomSize {
      width: 31%;
    }
  }

  &__img {
    position: relative;
    top: 1.25rem;
    .lady {
      max-width: 50%;
      margin: auto;
      display: block;

      @include atLarge {
        margin-right: 4.6875rem;
      }
    }

    .man {
      max-width: 60%;
      margin: auto;
      display: none;

      @include atSmall {
        //display: block;
      }

      @include atLarge {
        max-width: 80%;
        margin: unset;
        display: unset;
      }
    }
  }

  &__tag {
    font-size: 0.938rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.438rem;

    @include atSmall {
      font-size: 1.125rem;
      text-align: center;
    }

    @include atLarge {
      font-size: 1.125rem;
      text-align: left;
    }
  }

  &__title {
    font-size: 1.25rem;
    line-height: normal;
    max-width: 100%;
    margin: auto;
    font-weight: 700;

    @include atSmall {
      font-size: 1.375rem;
      text-align: center;
    }

    @include atMedium {
      font-size: 2.75rem;
      line-height: 3.2rem;
      max-width: 35.625rem;
    }

    @include atLarge {
      text-align: left;
      margin: unset;
    }

    @include atDoubleExtraLarge {
      max-width: 35rem;
    }
  }

  &__action-btn {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 1.25rem;
    column-gap: 10px;

    @include atSmall {
      display: inline-flex;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    @include atLarge {
      position: unset;
      left: unset;
      transform: unset;
    }

    .get-quote {
      width: 50%;
      margin-bottom: 0.938rem;

      @include atSmall {
        margin-right: 1.75rem;
        margin-bottom: unset;
        width: unset;
      }
    }

    .watch-demo {
      width: 50%;

      @include atSmall {
        width: unset;
      }
    }
  }

  .details {
    margin-top: 2.5rem;

    @include atLarge {
      margin-top: 4.375rem;
    }

    &--organization {
      margin-top: unset;

      @include atSmall {
        margin-top: 2.5rem;
      }

      @include atLarge {
        padding-left: 2.8125rem;
      }

      @include atExtraLarge {
        position: relative;
        top: -1.875rem;
      }
    }
  }
}
