.why-bupe {
  padding: 1.875rem 0;
  background-color: $lightWhite;

  @include atSmall {
    padding: 2.5rem 0;
  }

  @include atLarge {
    padding: 5rem 0;
  }

  &__content {
    padding-top: 20px;

    @include atLarge {
      padding-top: unset;
    }

    .tag {
      font-size: 0.9375rem;
      font-weight: 500;
      text-transform: uppercase;

      @include atSmall {
        font-size: 1.125rem;
        text-align: center;
      }

      @include atLarge {
        text-align: left;
      }
    }

    .title {
      font-size: 1.25rem;
      font-weight: 700;

      @include atSmall {
        font-size: 1.375rem;
        text-align: center;
      }

      @include atMedium {
        font-size: 2.25rem;
      }

      @include atLarge {
        text-align: left;
      }
    }
  }

  &__video {
    margin-top: 0.9375rem;

    @include atLarge {
      margin-top: unset;
    }
  }

  .strategy {
    @include atLarge {
      margin-top: 2.5rem;
    }
  }

  .watch-demo {
    width: 50%;

    @include atSmall {
      width: initial;
      margin: auto;
      display: block;
    }

    @include atLarge {
      margin-top: 2.5rem;
    }
  }

  &__charm {
    padding-top: 2.5rem;
    .term-block__title {
      font-size: 1.25rem;
    }

    .term-block {
      margin-bottom: 0.9375rem;

      @include atMedium {
        margin-bottom: unset;
      }
    }

    .term-block__icon {
      margin-bottom: 1.875rem;
    }

    .title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.9375rem;

      @include atSmall {
        font-size: 1.375rem;
        text-align: center;
      }

      @include atLarge {
        font-size: 1.875rem;
        margin-bottom: 1.875rem;
      }
    }

    .subscription {
      font-size: 1rem;
      color: $darkGreen;

      @include atSmall {
        text-align: center;
      }

      @include atLarge {
        font-size: 1.125rem;
      }
    }

    .train-main-block {
      margin-top: 1.25rem;

      @include atLarge {
        margin-top: 2.5rem;
      }
    }

    .lets-give-title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-top: 1.25rem;

      @include atSmall {
        text-align: center;
      }

      @include atMedium {
        font-size: 1.875rem;
      }

      @include atMedium {
        margin-top: 3.125rem;
      }
    }

    .talk-us {
      width: 50%;
      margin-top: 1.25rem;

      @include atSmall {
        width: initial;
        margin: auto;
        display: block;
      }

      @include atLarge {
        margin-top: 2.5rem;
      }
    }
  }

  .leaf__left-img {
    left: 0;
    top: 75%;
  }

  .leaf__right-img {
    top: 133%;
  }
}
