.wrapper {
  max-width: 1200px;
  margin: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @include atDoubleExtraLarge {
    max-width: 1370px;
  }

  &--header {
    max-width: 1290px;
    padding-left: unset;
    padding-right: unset;

    @include atLarge {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    @include atExtraLarge {
      max-width: 1380px;
    }

    @include atDoubleExtraLarge {
      max-width: 1410px;
      padding-left: unset;
      padding-right: unset;
    }

    @include atCustomSize {
      max-width: 1885px;
    }
  }
}

.container {
  &--custom-height {
    @include atLarge {
      min-height: 53.125rem;
      position: relative;
    }
  }
}
